.key-filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1rem;
}

.key-button {
  padding: 0.5rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.key-button:hover {
  background-color: #f0f0f0;
}

.key-button.selected {
  background-color: #2F313C;
  color: #fff;
  border-color: #2F313C;
  box-shadow: 0 2px 6px rgb(255, 255, 255);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.scale-button {
  padding: 0.5rem 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 9999px;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.scale-button:hover {
  background-color: #f0f0f0;
}

.scale-button.selected {
  background-color: #2F313C;
  color: #fff;
  border-color: #2F313C;
  box-shadow: 0 2px 6px rgb(255, 255, 255);
}
