<div
        *ngIf="isVisible"
        class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
>
    <div
            class="relative bg-secondary dark:bg-bgCustom-dark rounded-2xl shadow-2xl p-8 w-full max-w-md mx-4 transform transition-transform duration-200 ease-out"
            [@popupAnimation]
    >
        <button
                (click)="close()"
                class="absolute top-4 right-4 text-text dark:text-text-dark hover:text-primary-dark text-2xl font-bold focus:outline-none"
        >
            &times;
        </button>
        <h2 class="text-2xl font-semibold mb-4 text-text dark:text-text-dark">
            Connexion requise
        </h2>
        <p class="mb-6 text-text dark:text-text-dark">
            Veuillez vous connecter ou vous inscrire pour continuer.
        </p>
        <div class="flex flex-col space-y-4">
            <button
                    (click)="signIn()"
                    class="w-full bg-primary hover:bg-primary-hover text-secondary font-semibold px-4 py-3 rounded-lg focus:outline-none transition-colors duration-200"
            >
                Se connecter
            </button>
            <button
                    (click)="signUp()"
                    class="w-full bg-accent hover:bg-accent-hover text-secondary font-semibold px-4 py-3 rounded-lg focus:outline-none transition-colors duration-200"
            >
                S'inscrire
            </button>
        </div>
    </div>
</div>
