<div class="flex flex-col items-center justify-center space-y-2">
    <mat-slide-toggle
            [checked]="isDarkMode"
            (change)="toggleTheme()"
            color="primary"
            class="custom-toggle"
    >
    <span class="toggle-icon">
      <img
              *ngIf="isDarkMode; else lightIcon"
              src="assets/moon.svg"
              alt="Moon Icon"
              class="icon"
      />
      <ng-template #lightIcon>
        <img src="assets/sun.svg" alt="Sun Icon" class="icon" />
      </ng-template>
    </span>
    </mat-slide-toggle>
</div>
