<!-- upload-song.component.html -->

<div *ngIf="waitResponse">
    <div class="w-full h-screen flex items-center justify-center bg-gray-100">
        <mat-spinner class="w-16 h-16"></mat-spinner>
    </div>
</div>

<div *ngIf="!waitResponse">
    <div *ngIf="!showPreview">
        <!-- Bloc uploadzip -->
        <div class="w-full h-screen flex items-center justify-center bg-gray-100">
            <div
                    class="w-2/3 h-1/3 flex flex-col items-center justify-center border-2 border-dashed border-gray-400 rounded-xl cursor-pointer transition-colors duration-200 bg-white shadow-md hover:border-blue-500"
                    (click)="fileInput.click()"
                    (dragover)="onDragOver($event)"
                    (dragleave)="onDragLeave($event)"
                    (drop)="onDrop($event)"
            >
                <p class="text-gray-500 mb-4">Glissez et déposez un fichier zip ici, ou cliquez pour sélectionner</p>
                <div class="text-blue-500 hover:underline">Sélectionner un fichier</div>
                <input #fileInput type="file" accept=".zip" (change)="selectedFile($event)" hidden>
            </div>
        </div>
    </div>

    <div *ngIf="showPreview" class="w-full h-full p-8 bg-gray-100 overflow-y-auto">
        <!-- Bloc preview -->
        <div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold mb-4">Détails du Pack</h2>
            <form class="space-y-4">
                <div>
                    <label class="block text-gray-700">Nom du Pack :</label>
                    <input type="text" [(ngModel)]="pack.name" name="packName" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" [ngModelOptions]="{standalone: true}" />
                </div>

                <div class="w-full flex gap-4">
                    <div class="w-1/2">
                        <label class="block text-gray-700">Durée Totale :</label>
                        <input type="text" [(ngModel)]="pack.total_duration" name="packDuration" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 bg-gray-100" [ngModelOptions]="{standalone: true}" readonly />
                    </div>

                    <div class="w-1/2">
                        <label class="block text-gray-700">Image :</label>
                        <input type="file" (change)="onImageChange($event)" class="mt-1 block w-full" />
                    </div>
                </div>


                    <div>
                        <label class="block text-gray-700">Genres :</label>
                        <div class="flex flex-wrap gap-2 mb-2">
                            <span *ngFor="let genre of pack.genres" class="bg-blue-100 text-blue-800 px-3 py-1 rounded-full flex items-center">
                              {{ genre }}
                                <button type="button" (click)="removeGenre(genre)" class="ml-2 text-red-500 hover:text-red-700 focus:outline-none">&times;</button>
                            </span>
                        </div>
                        <div class="flex items-center gap-2">
                            <input type="text" [(ngModel)]="newGenre" name="newGenre" class="flex-1 border border-gray-300 rounded-md shadow-sm p-2" placeholder="Ajouter un genre" [ngModelOptions]="{standalone: true}" />
                            <button type="button" (click)="addGenre()" class="bg-blue-500 duration-200 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition-colors">Ajouter Genre</button>
                        </div>
                    </div>


                <div class="w-full flex gap-4">
                    <div class="w-1/2">
                        <label class="block text-gray-700">Disponible pour :</label>
                        <select [(ngModel)]="pack.available_for" name="availableFor" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" [ngModelOptions]="{standalone: true}">
                            <option value="STANDARD">LITE</option>
                            <option value="PLUS">PLUS</option>
                            <option value="PREMIUM">PREMIUM</option>
                        </select>
                    </div>

                    <div class="w-1/2">
                        <label class="block text-gray-700">Prix :</label>
                        <input type="text" [(ngModel)]="pack.price" name="packPrice" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" [ngModelOptions]="{standalone: true}" />
                    </div>
                </div>

                <div>
                    <label class="block text-gray-700">Description :</label>
                    <textarea [(ngModel)]="pack.description" name="packDescription" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" [ngModelOptions]="{standalone: true}"></textarea>
                </div>

            </form>

            <h2 class="text-2xl font-semibold mt-8 mb-4">Sons</h2>
            <div *ngFor="let sound of pack.paginated_sounds; let i = index" class="mb-6 p-4 border border-gray-300 rounded-lg bg-gray-50">
                <h3 class="text-xl font-semibold mb-2">Son {{ i + 1 }}</h3>
                <form class="space-y-4">

                    <div class="w-full flex gap-4">
                        <div class="w-2/3">
                            <label class="block text-gray-700">Nom :</label>
                            <input type="text" [(ngModel)]="sound.name" name="soundName{{i}}" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" [ngModelOptions]="{standalone: true}" />
                        </div>

                        <div class="w-1/3">
                            <label class="block text-gray-700">Prix :</label>
                            <input type="text" [(ngModel)]="sound.price" name="soundPrice{{i}}" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" [ngModelOptions]="{standalone: true}" />
                        </div>
                    </div>

                    <div class="w-full flex gap-4">
                        <div class="w-1/2">
                            <label class="block text-gray-700">Durée (secondes) :</label>
                            <input type="number" [(ngModel)]="sound.duration_seconds" name="soundDuration{{i}}" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 bg-gray-100" [ngModelOptions]="{standalone: true}" readonly />
                        </div>

                        <div class="w-1/2">
                            <label class="block text-gray-700">BPM :</label>
                            <input type="number" [(ngModel)]="sound.bpm" name="soundBpm{{i}}" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" [ngModelOptions]="{standalone: true}" />
                        </div>
                    </div>

                    <div class="w-full flex gap-4">
                        <div class="w-1/2">
                            <label class="block text-gray-700">Scale :</label>
                            <input type="text" [(ngModel)]="sound.scale" name="soundScale{{i}}" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" [ngModelOptions]="{standalone: true}" />
                        </div>

                        <div class="w-1/2">
                            <label class="block text-gray-700">Key :</label>
                            <input type="text" [(ngModel)]="sound.key" name="soundKey{{i}}" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" [ngModelOptions]="{standalone: true}" />
                        </div>
                    </div>

                    <div>
                        <label class="block text-gray-700">Types :</label>
                        <div class="flex flex-wrap gap-2 mb-2">
                          <span *ngFor="let type of sound.type" class="bg-green-100 text-green-800 px-3 py-1 rounded-full flex items-center">
                            {{ type }}
                              <button type="button" (click)="removeType(sound, type)" class="ml-2 text-red-500 hover:text-red-700 focus:outline-none">&times;</button>
                          </span>
                        </div>
                        <div class="flex items-center gap-2">
                            <input type="text" [(ngModel)]="newType[i]" name="newType{{i}}" class="flex-1 border border-gray-300 rounded-md shadow-sm p-2" placeholder="Ajouter un type" [ngModelOptions]="{standalone: true}" />
                            <button type="button" (click)="addType(i)" class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition-colors duration-200">Ajouter Type</button>
                        </div>
                    </div>

                    <div>
                        <label class="block text-gray-700">Subtypes :</label>
                        <div class="flex flex-wrap gap-2 mb-2">
                          <span *ngFor="let subtype of sound.subtype" class="bg-purple-100 text-purple-800 px-3 py-1 rounded-full flex items-center">
                            {{ subtype }}
                              <button type="button" (click)="removeSubtype(sound, subtype)" class="ml-2 text-red-500 hover:text-red-700 focus:outline-none">&times;</button>
                          </span>
                        </div>
                        <div class="flex items-center gap-2">
                            <input type="text" [(ngModel)]="newSubtype[i]" name="newSubtype{{i}}" class="flex-1 border border-gray-300 rounded-md shadow-sm p-2" placeholder="Ajouter un subtype" [ngModelOptions]="{standalone: true}" />
                            <button type="button" (click)="addSubtype(i)" class="bg-purple-500 text-white px-4 py-2 rounded-md hover:bg-purple-600 transition-colors">Ajouter Subtype</button>
                        </div>
                    </div>

                </form>
            </div>

            <div class="mt-6">
                <button type="button" (click)="uploadPack()" class="w-full bg-blue-600 text-white px-6 py-3 rounded-md hover:bg-blue-700 transition-colors">Uploader le Pack</button>
            </div>
        </div>
    </div>
</div>
