.upload-card {
  width: 400px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border 0.3s;
  &.drag-over {
    border: 2px dashed #3f51b5;
  }
  mat-icon {
    font-size: 60px;
    color: #3f51b5;
  }
}

.preview-container {
  padding: 20px;
}

.pack-details-card, .sounds-card {
  margin-bottom: 20px;
}

.chips-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  mat-form-field {
    flex: 1;
  }
  button {
    margin-left: 10px;
  }
}

.image-upload {
  margin-top: 10px;
}

.sound-item {
  margin-bottom: 20px;
}

.upload-button-container {
  text-align: center;
  margin-top: 20px;
}
