<div class="flex flex-col items-center justify-center px-4 sm:px-0">
    <div class="w-full max-w-md bg-bgCustom-dark dark:bg-bgCustom shadow-lg rounded-lg p-6 sm:p-8">
        <h2 class="text-2xl font-bold text-gray-800 mb-2">Sign in</h2>

        <form class="space-y-4 text-text-dark dark:text-text" (ngSubmit)="login()">
            <div>
                <label class="block text-sm font-medium" for="email">Email</label>
                <input [(ngModel)]="email" name="email" type="email" id="email" placeholder="Enter your email"
                       class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-teal-500 focus:border-teal-500 sm:text-sm" required />
            </div>

            <div>
                <label class="block text-sm font-medium" for="password">Password</label>
                <input [(ngModel)]="password" name="password" type="password" id="password" placeholder="Enter your password"
                       class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-teal-500 focus:border-teal-500 sm:text-sm" required />
            </div>

            <div class="flex items-center">
                <input [(ngModel)]="rememberMe" name="rememberMe" type="checkbox" id="rememberMe"
                       class="h-4 w-4 text-teal-600 border-gray-300 rounded focus:ring-teal-500" />
                <label for="rememberMe" class="ml-2 block text-sm">Remember me</label>
            </div>

            <div *ngIf="errorMessage" class="text-accent text-sm">{{ errorMessage }}</div>

            <div class="flex flex-col gap-4">
                <button type="submit"
                        class="w-full bg-accent hover:scale-[1.01] text-text dark:text-text-dark font-medium py-2 px-4 rounded-md  transition-transform duration-200">
                    Continue
                </button>
                <a href="https://myeventwac.fr/api/google/login/">
                    <button type="button"
                            class="w-full flex items-center justify-center border border-gray-300 text-gray-700 py-2 px-4 rounded-md hover:scale-[1.01] transition-transform duration-200">
                        <img src="/assets/googleIcon.svg" alt="Google icon" class="w-5 h-5 mr-2">Continue with Google
                    </button>
                </a>
            </div>
        </form>

        <p class="text-sm text-center text-gray-500 mt-6">
            Don't have an account? <a [routerLink]="['/register']" class="text-accent hover:underline">Sign up</a>
        </p>
    </div>
</div>
