<div class="bg-white dark:bg-gray-800 shadow p-4 rounded">
    <h2 class="text-lg font-bold mb-4">Profile</h2>
    <div class="grid grid-cols-1 gap-4">
        <div class="flex items-center">
            <label class="font-medium w-32">Email</label>
            <p class="text-gray-700 dark:text-gray-300">benkejjanehamza&#64;gmail.com</p>
        </div>
        <div class="flex items-center">
            <label class="font-medium w-32">Name</label>
            <p class="text-gray-700 dark:text-gray-300">B K J Music</p>
        </div>
        <div class="flex items-center">
            <label class="font-medium w-32">User ID</label>
            <p class="text-gray-700 dark:text-gray-300">b4ca1fa3-0228...</p>
        </div>
    </div>
</div>
