<div class="flex flex-row items-center justify-center gap-2">
    <!-- Pour les utilisateurs de type VISITOR -->
    <ng-container *ngIf="userStatus === 'VISITOR'">
        <div *ngIf="creditStatus > 0" class="flex flex-row items-center gap-2">
            <h6>{{ creditStatus }}</h6>
            <img src="assets/credit-icon.svg" alt="credit">
        </div>
        <div [routerLink]="['/subscription']" class="flex flex-row items-center gap-2 cursor-pointer hover:text-accent-hover">
            <h6>Upgrade plan</h6>
        </div>
    </ng-container>

    <!-- Pour les utilisateurs de type STANDARD -->
    <ng-container *ngIf="userStatus === 'LITE'">
        <div *ngIf="creditStatus === 0" [routerLink]="['/subscription']" class="flex flex-row items-center gap-2 cursor-pointer hover:text-blue-700">
            <img src="assets/subscriptionArrow.svg" alt="credit">
            <h6>Upgrade plan</h6>
        </div>
        <div *ngIf="creditStatus > 0" class="flex flex-row items-center gap-2">
            <h6>{{ creditStatus }}</h6>
            <img src="assets/credit-icon.svg" alt="credit">
        </div>
    </ng-container>

    <!-- Pour les utilisateurs de type PLUS -->
    <ng-container *ngIf="userStatus === 'PLUS'">
        <div *ngIf="creditStatus === 0" [routerLink]="['/subscription']" class="flex flex-row items-center gap-2 cursor-pointer hover:text-blue-700">
            <img src="assets/subscriptionArrow.svg" alt="credit">
            <h6>Upgrade plan</h6>
        </div>
        <div *ngIf="creditStatus > 0" class="flex flex-row items-center gap-2">
            <h6>{{ creditStatus }}</h6>
            <img src="assets/credit-icon.svg" alt="credit">
        </div>
    </ng-container>

    <!-- Pour les utilisateurs de type PREMIUM -->
    <ng-container *ngIf="userStatus === 'PREMIUM'">
        <h6>Unlimited</h6>
        <img src="assets/credit-icon.svg" alt="credit">
    </ng-container>
</div>
