/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  margin:0;
}

*{
  font-family: "Mulish", sans-serif;

}

p{
  margin:0;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
}
