<div class="flex justify-center">
    <div class="flex items-center justify-between bg-primary dark:bg-primary-dark rounded-lg p-4 mb-4 w-full max-w-md lg:max-w-lg">
        <!-- Image du pack et bouton Play/Pause -->
        <div class="flex items-center">
            <div class="relative">
                <img [src]="image" alt="{{ name }}" class="w-16 h-16 rounded-lg object-cover" />

                <!-- Icône Play/Pause centrée -->
                <img
                        (click)="togglePlay()"
                        [src]="isPlaying ? 'assets/pause.svg' : 'assets/play.svg'"
                        alt="Play/Pause Icon"
                        class="absolute cursor-pointer inset-0 w-14 h-14 m-auto opacity-80 transition-transform duration-200 ease-in-out hover:scale-110"
                        style="z-index: 10;">
            </div>
            <div class="content text-white px-4">
                <h1 class="text-base text-text dark:text-text-dark md:text-md font-semibold">{{ name }}</h1>
                <h4 class="text-xs md:text-sm text-text dark:text-text-dark">{{ artist }}</h4>
                <h6 class="text-xs text-accent">{{ genre }}</h6>
            </div>
        </div>
        <!-- Icône Flèche pour obtenir les détails du pack -->
        <img
                (click)="getPackWithId()"
                src="/assets/arrow.svg"
                class="cursor-pointer duration-200 transition-all hover:scale-105 ml-auto w-6 md:w-7 lg:w-8"
                alt="Details Arrow Icon">
    </div>
</div>
