<div class="nav-bar-container rounded-md  bg-bgCustom dark:bg-bgCustom-dark text-text dark:text-text-dark">
    <h1 [routerLink]="['/']" class="hover:text-accent dark:hover:text-accent text-text dark:text-text-dark">ReeseFactory</h1>

    <app-search-bar class="w-2/6"></app-search-bar>

    <div class="nav-right " [ngClass]="{'active': isMenuOpen}">
        <div class="nav-links ">
            <ul class=" text-text dark:text-text-dark gap-8">
                <li class="hover:text-accent-hover text-text dark:text-text-dark">Pack</li>
                <li [routerLink]="['/category']" class="hover:text-accent-hover text-text dark:text-text-dark">Category</li>
                <li [routerLink]="['/subscription']" class="hover:text-accent-hover text-text dark:text-text-dark">Pricing</li>
                <li *ngIf="!isConnect"><span  [routerLink]="['/connexion']" class="hover:text-accent-hover text-text dark:text-text-dark">Sign in</span></li>
                <li *ngIf="!isConnect" ><app-button-action [routerLink]="['/register']" name="Create account"></app-button-action></li>
                <li *ngIf="isConnect"><app-credit-display></app-credit-display></li>
                <li *ngIf="isConnect"><app-button-action  name="Log out" (click)="handleLogOut()"></app-button-action></li>
                <li><app-theme-toggle></app-theme-toggle></li>
            </ul>

        </div>

        <div class="menu-icon" (click)="toggleMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" class="dark:fill-text-dark" width="30" height="30" viewBox="0 0 24 24">
                <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"/>
            </svg>
        </div>
    </div>
</div>
