<section class="bg-bgCustom dark:bg-bgCustom-dark">
    <div class="px-4">
        <div class="mb-10 text-center">
            <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">Choose Your Plan</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
                Find the right plan for you and start now your music.
            </p>
        </div>

        <div class="flex justify-center mb-6">
            <button (click)="selectPeriod('monthly')"
                    [ngClass]="{'bg-accent text-white': selectedPeriod === 'monthly', 'bg-gray-200 text-gray-800': selectedPeriod !== 'monthly'}"
                    class="px-4 py-2 rounded-l-lg">
                Monthly
            </button>
            <button (click)="selectPeriod('annually')"
                    [ngClass]="{'bg-accent text-white': selectedPeriod === 'annually', 'bg-gray-200 text-gray-800': selectedPeriod !== 'annually'}"
                    class="px-4 py-2 rounded-r-lg">
                Annually
            </button>
        </div>

        <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
            <app-subscription-card
                    *ngFor="let subscription of (selectedPeriod === 'monthly' ? monthlySubscriptions : annuallySubscriptions)"
                    [title]="subscription.title"
                    [price]="subscription.price"
                    [monthlyPrice]="subscription.monthlyPrice"
                    [description]="subscription.description"
                    [features]="subscription.features"
                    [period]="selectedPeriod"
                    (subscribe)="subscribe(subscription)">
            </app-subscription-card>
        </div>
    </div>
</section>
