<div class="flex flex-col justify-between h-full p-6 mx-auto text-center md:text-center lg:text-left text-text-dark bg-bgCustom-dark border border-gray-100 rounded-lg shadow dark:border-gray-600 dark:bg-bgCustom dark:text-text max-w-sm sm:max-w-none">

    <h3 class="mb-4 text-xl sm:text-2xl font-semibold mx-auto lg:mx-0">{{ title }}</h3>

    <p class="font-light text-gray-500 text-sm sm:text-base mx-auto lg:mx-0 dark:text-gray-400">{{ description }}</p>

    <div class="flex flex-col items-center justify-center my-6 sm:my-8">
        <div *ngIf="period === 'annually' && monthlyPrice !== undefined" class="flex items-baseline justify-center lg:justify-start">
            <span class="text-lg sm:text-2xl font-light line-through mr-2 text-gray-500 dark:text-gray-400">
                ${{ annualOriginalPrice }}
            </span>
            <span class="text-3xl sm:text-5xl font-extrabold">${{ annualDiscountedPrice }}</span>
        </div>

        <div *ngIf="period === 'monthly'" class="flex items-baseline justify-center lg:justify-start">
            <span class="text-3xl sm:text-5xl font-extrabold">${{ price.toFixed(2) }}</span>
            <span class="text-sm sm:text-base text-gray-500 dark:text-gray-400">/month</span>
        </div>
    </div>

    <ul role="list" class="mb-6 sm:mb-8 space-y-3 text-center lg:text-left flex-grow">
        <li *ngFor="let feature of features" class="flex items-center justify-center lg:justify-start space-x-2 sm:space-x-3">
            <svg class="flex-shrink-0 w-4 h-4 sm:w-5 sm:h-5 text-accent dark:text-accent-dark" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
            <span class="text-sm sm:text-base">{{ feature }}</span>
        </li>
    </ul>

    <button (click)="onSubscribe()"  class="text-white bg-accent hover:bg-accent-hover focus:ring-4 focus:ring-purple-200 font-medium rounded-lg text-sm sm:text-base px-4 py-2 sm:px-5 sm:py-2.5 md:w-1/2 lg:w-full mx-auto lg:mx-0 text-center dark:bg-accent dark:text-white dark:focus:ring-purple-900">
        Get started
    </button>
</div>
